.title {
    text-align: center;
    font-size: 2em;
    padding: 5px;
    font-weight: bold;
    background-color: aquamarine;
    color: black; 
}
.rest {
    display: flex;
    justify-content: stretch;
    height: 50px;
    border: 1px solid white ;
}
.result {
    flex-grow: 1;
    margin: 5px;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    color: green;
}
.but {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
}
.button {
    flex-grow: 1;
    margin: 5px;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    width: 30px;
}
.container {
    width: 400px;
    height: 400px;
    background-color: bisque;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}